<!--<%#= label_tag "a#{ question_counter }#{ answer_counter }", answer.description, class: "waves-effect waves-light btn q#{ question_counter }" %> <br> <br>-->
<p class="flow-text answr  <%= "answr-#{ answer_counter }" %>">
<label class="">
  <%= radio_button_tag "q#{ question_counter }", answer.id, false, id: "a#{ question_counter }#{ answer_counter }", class: "q#{ question_counter } with-gap" %>
  <span class="over-t  "><%= answer.description %></span>
</label>
</p>
