<div class="field content_q<%= question_counter %> card-content col s12 ">
  <!--  pergunta-->
 <%= label_tag "label_q#{ question_counter }", question.question.description%> <br>

  <div class="divider-px ">
    <span class="gradient-45deg-light-blue-cyan progress-b"></span>
  </div>
  <!--  respostas-->
  <%= render partial: "answer", collection: question.answers.shuffle, locals: {question_counter: question_counter} %>
</div>