<%= form_tag(sign_up_path, :method => "post") do %>

  <div class="row">

    <h2 class="center">Cidadão TOauth</h2>

  <div class="card z-depth-3 center-block col s10 m6 offset-s1 offset-m3" style=" position:relative; top:120px;">


      <% if flash[:notice] %>
        <div class="red-text" role="alert" style="margin: 10px"><%= flash[:notice] %></div>
      <% end %>

      <br>
      <div class="input-field col s12 m8 ">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" name="cpf" placeholder="CPF (apenas números)" pattern="\d*" type="text" maxlength="11" class="validate" data-length="11">

      </div>

      <div class="col s4 m4 offset-s2">
        <!--          <button class="waves-effect waves-light btn-floating left" style="margin-top: 20px">-->
        <!--            <i class="large material-icons">trending_flat</i></button>-->
        <button class="btn waves-effect waves-light left" type="submit" name="action" style="margin-top: 20px">Iniciar
          <i class="material-icons right">send</i>
        </button>
      </div>

    </div>

  </div>


  <% if params[:value] != nil %>
    <%= params[:value] %>
  <% end %>


<% end %>