<%= form_tag result_post_path, method: 'post' do %>

  <% if cookies.encrypted[:formulario_enviado] == nil || cookies.encrypted[:formulario_enviado] || cookies.encrypted[:user_request_id] == nil %>
    <%= 'Acesso negado' %>
  <% else %>
    <div class="deep-purple bar "></div>
    <div class="row">

      <h2 class="center">Cidadão TOauth</h2>

    <div class="col s12">

      <div class="card  col s10 m8 l6 offset-m1 offset-m2 offset-l3 " >

        <% questions = UserRequest.find(cookies.encrypted[:user_request_id]).request_questions %>
        <%= render partial: "question", collection: questions %>

        <div class="btn deep-purple darken-3 waves-effect back2 right" > Voltar</div>
        <div class="btn deep-purple darken-3 waves-effect back3 right" > Voltar</div>


        <div class="row box">
          <div>
          <%= button_tag "Enviar Respostas", class: "btn waves-effect waves-light blue sub actb col s5", style: "margin: 10px" %>
          </div>
          <div class="btn deep-purple darken-3 waves-effect rr right col s5 actb z-depth-1" style="margin: 10px">
            REFAZER RESPOSTAS
          </div>
        </div>

      </div>
      </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.content_q1').hide();
            $('.content_q2').hide();
            $('.sub').hide();
            $('.rr').hide();
            $('.back2').hide();
            $('.back3').hide();

            $(".q0").click(function () {
                setTimeout(function () {
                    $('.content_q0').fadeOut('fast', function () {
                        $('.progress-b').addClass('progress-b2')
                        $('.content_q1').fadeIn('fast');
                        $('.back2').show();
                    });
                }, 400);
            });

            $(".q1").click(function () {
                setTimeout(function () {
                    $('.content_q1').fadeOut('fast', function () {
                        $('.progress-b2').addClass('progress-b3')
                        $('.content_q2').fadeIn('fast');
                        $('.back2').hide();
                        $('.back3').show();
                    });
                }, 400);
            });

            $(".q2").click(function () {
                setTimeout(function () {
                    $('.content_q2').fadeOut('fast', function () {
                        $('.back3').hide();
                        $('.sub').fadeIn('fast');
                        $('.rr').fadeIn('fast');
                    });
                }, 400);
            });

            $(".back2").click(function () {
                setTimeout(function () {
                    // $('.divider-px span').removeClass('progress-back1')
                    // $('.divider-px span').addClass('progress-back')
                    $('.progress-b2').removeClass('progress-b2')
                    $('.content_q1').hide();
                    $('.back2').hide();
                    $('.content_q0').fadeIn('fast');
                }, 400);
            });

            $(".back3").click(function () {
                setTimeout(function () {
                    // $('.progress-b3').removeClass('progress-back')
                    // $('.divider-px span').addClass('progress-back1')
                    $('.progress-b3').removeClass('progress-b3')
                    $('.content_q2').hide();
                    $('.back3').hide();
                    $('.content_q1').fadeIn('fast');
                    $('.back2').show();
                }, 400);
            });

            $(".rr").click(function () {
                setTimeout(function () {
                    $('.rr').hide();
                    $('.sub').hide();
                    $('.content_q0').fadeIn('show');
                }, 400);
            });
        });
    </script>
  <% end %>
<% end %>