<% if cookies.encrypted[:formulario_enviado] == false %>
  Acesso negado
<% else %>
  <div class="container" style="width: 70%; margin-top: 100px;">

    <div class="row">
      <div class="col s12 m8 l8 push-m2 push-l2 card">
        <div class="center">

          <% if cookies.encrypted[:resultado] != nil and !cookies.encrypted[:resultado] %>
            <div class="row">
              <br>
              <img src="/images/desapontado.png" width="50px"><br>
              <p>Suas informações não conferem. <br>Tente novamente em alguns minutos.</p>

            </div>

          <% elsif cookies.encrypted[:resultado] != nil and cookies.encrypted[:resultado] %>
            <div class="row">
              <br>
              <img src="/images/happy.png" width="50px"><br>
              <p>Parabéns!</p><br>

              <%#= link_to "Prosseguir", submit_token_path(token: cookies.encrypted[:user_token]), class: 'btn' %>
              <%= link_to "Prosseguir", "http://cidadao.to.gov.br/api/registrar?token=#{cookies.encrypted[:user_token]}", class: 'btn' %>
            </div>
          <% end %>
        </div>

      </div>
    </div>

  </div>
<% end %>