/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

text-success{
    color: green;
}
text-danger{
    color: red;
}
.center-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*----------

.container {

}*/

.form-contact {
    width: 100%;
    font-family: "Arial", Times, serif;
}

.form-contact-input {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
}

.form-contact-textarea {
    width: 100%;
    color: #292929;
    font-size: 18px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    font-family: "Arial", Times, serif;
}

.form-contact-button {
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    height: 40px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: #B22222;
    display: block;
    border: none;
    border-bottom: 1px solid #500707;
    border-right: 1px solid #500707;
    transition: 1s;
}

.form-contact-button:hover {
    opacity: 1;
}

/*------------------------------------*/

@keyframes bounceQ {
    0%{
        opacity: 0;
        transform: translateY(-200%);
    }
    60%{

        transform: translateY(0);
    }
    80%{
        opacity: 1;
        transform: translateY(5px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes sendAnswr {

    from {
        transform: translateY(0);
        transform: scale(1);
    }
    to{
        transform: translateY(-400%);
        transform: scale(3);
    }

}

@keyframes progressReverse {
    0%{width: 67%}
    100%{width: 33%;background: linear-gradient(to right, #b5dbf4 6%,#2989d8 66%,#1e5799 100%,#7db9e8 100%);}
}
@keyframes progressReverse1 {
    0%{width: 100%}
    100%{width: 67%;background: linear-gradient(to right, #b5dbf4 6%,#2989d8 66%,#1e5799 100%,#7db9e8 100%);}
}

@keyframes progress1{
    0%{width:0%}
    100%{width:33%;background: linear-gradient(to right, #b5dbf4 6%,#2989d8 66%,#1e5799 100%,#7db9e8 100%);}
}
@keyframes progress2{
    0%{width:33%}
    100%{width:67%;background: linear-gradient(to right, #b5dbf4 6%,#1e5799 51%,#1e5799 51%,#290dc6 100%);}
}

@keyframes progress3{
    0%{width:67%}
    100%{width:100%;background: linear-gradient(to right, #b5dbf4 6%,#1e5799 36%,#290dc6 58%,#46087c 100%);}
}

.divider-px{
    margin-top: 25px;
    border-radius: 10px;
    background-color: #ddd;
    width: 100%;
}
.progress-b{
    border-radius: 10px;
    height: 5px;
    display: block;
    animation: progress1 2s ease-in-out forwards;
}

.progress-b2{
    border-radius: 10px;
    height: 5px;
    background: linear-gradient(to right, #b5dbf4 6%,#2989d8 66%,#1e5799 100%,#7db9e8 100%);
    display: block;
    animation: progress2 2s ease-in-out forwards;
}
.progress-b3{
    border-radius: 10px;
    height: 5px;
    background: linear-gradient(to right, #b5dbf4 6%,#1e5799 51%,#1e5799 51%,#290dc6 100%);
    display: block;
    animation: progress3 2s ease-in-out forwards;
}

.card-content label{
    padding-left: 10px;
    font-size: 1.5em;
    animation: sendAnswr 2s ease-in-out forwards;
}

.answr-1 {
    animation-delay: .5s;
}
.answr-2 {
    animation-delay: 1s;
}

.answr-3 {
    animation-delay: 1.5s;
}


.answr {
    opacity: 0;
    animation-name: bounceQ ;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.progress-back{
    animation-name: progressReverse;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.progress-back1{
    animation-name: progressReverse1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}



.over-t:hover {
    font-weight: 1000;
    box-shadow: -4px 0 0px 0px #1e5799;
    color: #1e5799 !important;

}
/*
.box{
    z-index: -12;
    animation: sendAnswr 2s ease-in-out forwards;
}

*/
/* .progress-b{
  display: block;
  animation-name: progress1 ;
  animation-duration: 1s;
  background-color: cyan;
  height: 4px;
} */

.divider-p2{
    background-color: purple;
    height: 4px;
    width: 67%;
}

#main{
    margin-top: 20px !important;
}

/* Checked styles */
[type='radio']:checked + span:before
{
    border: 2px solid transparent;
}

[type='radio']:checked + span:after,
[type='radio'].with-gap:checked + span:before,
[type='radio'].with-gap:checked + span:after
{
    border: 2px solid #1147db;
}

[type='radio']:checked + span:after,
[type='radio'].with-gap:checked + span:after
{
    background-color: #1147db;
}

#main
{
    min-height: -webkit-calc(90% - 110px);
    min-height:    -moz-calc(90% - 110px);
    min-height:         calc(90% - 70px);
    padding-left: 0;

    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
